body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*Fuente*/
  font-family: 'Anton', sans-serif;

  /*Fondo*/
  background-image: url('https://www.xtrafondos.com/wallpapers/pokemon-unite-8254.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
